html {
  font-size: 10px; max-width: 1920px;
}
body {
  background: #2f2f2f; color: #333; font-family: 'Pretendard', sans-serif; font-size: 1.6rem;
}
a {
  color: inherit; text-decoration: none;
}

.inner {
  max-width: 1100px; margin: 0 auto; position: relative;
}